on:
  schedule:
    - cron: "0 3 * * *"
  push:
    branches:
    - main
    paths:
    - src/**
  workflow_dispatch:
    branches: [ main ]


name: match easin to gbif backbone

jobs:
  mapping:
    runs-on: ${{ matrix.config.os }}

    name: ${{ matrix.config.os }} (${{ matrix.config.r }})

    strategy:
      fail-fast: false
      matrix:
        config:
          - {os: ubuntu-latest,   r: 'release'}
    env:
      R_REMOTES_NO_ERRORS_FROM_WARNINGS: true
      RSPM: ${{ matrix.config.rspm }}
      GITHUB_PAT: ${{ secrets.GITHUB_TOKEN }}

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Get branch name
        run: |
          git branch --show-current
      - name: Setup R
        uses: r-lib/actions/setup-r@v2
        with:
          r-version: ${{ matrix.config.r }}
          http-user-agent: ${{ matrix.config.http-user-agent }}

      - name: Setup pandoc
        uses: r-lib/actions/setup-pandoc@v2

      - name: Install linux libraries
        run: |
          sudo apt install libsodium-dev
          sudo apt-get install libcurl4-openssl-dev
          sudo apt-get install libgdal-dev libproj-dev
          sudo apt install libudunits2-dev
      
      - name: Install remotes package
        run: Rscript -e 'install.packages("remotes")'

      - name: Install dependencies for parallel computing
        run: Rscript -e 'install.packages(c("carrier", "mirai"))'

      - name: Install R packages
        run: |
          source("src/install_packages.R")
        shell: Rscript {0}

      - name: Match EASIN catalogue to GBIF Backbone
        run: |
          source("src/match_easin_catalogue.R")
        shell: Rscript {0}

      - name: Commit and push changes
        uses: devops-infra/action-commit-push@master
        with:
          github_token: ${{ secrets.WORKFLOWS }}
          commit_prefix: "[AUTO]"
          commit_message: "Mapping"

      - name: Run tests
        run: |
          source("tests/test_output_match.R")
        shell: Rscript {0}